* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
    text-decoration: none;
    list-style: none;
    color: #3c3c85;
}

#menu-toggle {
    display: none;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 5%;
    background-color: #3c3c85;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    font-size: 30px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    transition: 0.3s ease;
    display: flex;
}

.logo:hover span {
    color: lightgreen;
    text-shadow: 0 0 25px lightgreen, 0 0 50px lightgreen;
    transform: scale(1.1);
}

span {
    color: white;
}

.navbar {
    display: flex;
    gap: 20px;
    margin-left: auto;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Adjust based on content */
.navbar li {
    display: inline-block;
}

.navbar a {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;

}

.navbar a:hover,
.navbar a.active {
    color: lightgreen;
    border-bottom: 3px solid lightgreen;
    display: flex;

}

.home {
    min-height: 100vh;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7em;
    padding: 5px 0 0;

}

.home-content {
    max-width: flex;
}

.home-content h2 {
    block-size: 160px;
    font-size: 25px;
    font-weight: 600;
    color: #3c3c85;
    background-color: white;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h2 span {
    color: lightgreen;
    font-weight: 700;
}

.home-content h1 {
    font-size: 45px;
    line-height: 1.2;
    margin-top: 150px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.home-content h1 span {
    color: #3c3c85;
}

.home-content p {
    font-size: 25px;
    margin: 20px 0 20px;
    line-height: 1.5;
    border-radius: 10px;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

.btn-box {
    width: 600px;
    display: flex;
    gap: 2em;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 300px;
    block-size: 30px;
    height: fit-content;
    justify-content: center;
    align-items: center;
}

.btn-1 {
    padding: 15px 20px;
    background-color: #3c3c85;
    color: white;
    border: 2px solid #3c3c85;
    font-size: 16px;
    font-weight: 60;
    border-radius: 8px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-1:hover {
    background-color: white;
    color: #3c3c85;
}

.btn-2 {
    padding: 15px 20px;
    background-color: #3c3c85;
    color: white;
    border: 2px solid #3c3c85;
    font-size: 16px;
    font-weight: 60;
    border-radius: 8px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-2:hover {
    background-color: white;
    color: #3c3c85;
}

.img-box {
    margin-top: 30px auto;
    display: block;
    border-radius: 10%;
    width: 280px;
    margin-left: 380px;
}

::-webkit-scrollbar-track {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: lightgreen;
}

::-webkit-scrollbar-track {
    background-color: #3c3c85;
    width: 10px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    height: 90px;
    background-color: #3c3c85;
    border: 10px solid #3c3c85;
    flex-wrap: wrap;
    /* Allow wrapping if needed */
    z-index: 100;

}

.footer i {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    color: lightgreen;
    font-size: 50px;
    height: 50px;
    width: 80px;
    padding: 10px;
}
.copyright {
    background-color:#3c3c85; /* SAME background as .footer */
    text-align: center;
    padding: 5px 0;
}
.copyright p {
    color: white;
}
.box {
    margin-left: 200px;
    text-align: center;
    margin-right: 10px;

}
.img-box{
    margin-right: 100px;

}
.container {
    display: flex;
    /*justify-content: space-between;*/
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    text-align: center;
   /* flex-wrap: wrap;*/
    margin-top: 30px;
    padding: 0 20px;
}

.container h2 {
    font-size: 2rem;
text-align: center;  
  display: flex;
    justify-content: flex-end; /* Moves content to the right */

}

.container img {
    width: 350px;
    border-radius: 20px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 20px;
    }

    .container h2 {
        font-size: 1.5rem;
    }

    .container img {
        width: 200px;
    }

    .header {
        flex-direction:column ;
        padding: 20px 5%;
        align-items: flex-end;
        font-size: 16px;
        justify-content: space-between;
    }


    .navbar {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
        gap: 10px;
        margin-top: 10px;
    }
    .navbar.active {
        display: flex;
    }
    .navbar a {
        font-size: 16px;
        margin: 5px 0;
        display: flex;
        color: white;
        margin: 0 20px;
        border-bottom: 3px solid transparent;
        transition: 0.3s ease;
    }

    .navbar a:active {
        display: flex;
    }

    .navbar li {
        margin: 10px 0;
        text-align: left;
        padding-left: 20px;
        width: 100%;
    }
    .navbar li a{
        display: block;
        width: 100%;
        color: white;
    }
    .home {
        flex-direction: column;
        padding: 20px 5%;
        text-align: center;
        gap: 2em;
        margin-top: 120px;
        flex-wrap: wrap;
    }

    .home-content h1 {
        font-size: 30px;
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }

    .home-content p {
        margin-left: 0;
        margin-right: 0;
        font-size: 20px;
        line-height: 1.5;
        flex-wrap: wrap;
    }

    .home-content h2 {
        margin-left: 0;
        margin-top: 5%;
        text-align: center;
        flex-wrap: wrap;
    }

    .img-box{
        width: 200px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .btn-box {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        width: 100%;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 0;
        height: auto;
    }

    .footer i {
        font-size: 40px;
        padding: 10px;
    }
    .copyright {
        padding: 10px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
        display: none;
        /* Hide by default */
    }

    .navbar ul.active {
        display: flex;

        /* Show when active */
    }

    #menu-toggle {
        display: block;
        font-size: 24px;
      background: none;
        border: none;
        cursor: pointer;
        color: white;
    }

    .fa-bars {
        font-size: 24px;
        color: lightgreen;
    }
}